@import url("https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap");

@import "tailwindcss";

@layer base {
  ::-webkit-scrollbar {
    width: 12px;
  }

  ::-webkit-scrollbar-track {
    background: #1e1e1e;
    border-radius: 10px;
    margin: 8px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #555;
    border-radius: 10px;
    border: 3px solid #1e1e1e;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #777;
  }

  /* body {
    max-width: 1280px;
    margin: auto;
  } */

  p {
    font-size: var(--text-sm);
    line-height: 16px;
  }

  button:hover {
    cursor: pointer;
  }

  @media (min-width: 1024px) {

    p {
      font-size: var(--text-base);
    }
  }
}

/* @layer components {
  .card {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }
} */

@theme {
  /* Portfolio */
  --color-bg-primary: #05070a;
  --color-bg-secondary: #0b0f14;
  --color-bg-tertiary: #121821;

  --color-text-primary: #e6f1ff;
  --color-text-secondary: #9fb3c8;
  --color-text-tertiary: #5f6b7a;

  --color-accent: #fcee09;
  --color-accent-hover: #d4c500;

  --color-accent-secondary: #ff2bd6;
  --color-accent-alt: #00f0ff;

  --color-border: #1f2a36;

  --color-success: #00ff9c;
  --color-warning: #ffb300;
  --color-error: #ff3b3b;

  --shadow-glow-8: 0 0 8px #fcee09;
  --shadow-glow-10: 0 0 10px #fcee09;
  --shadow-glow-12: 0 0 12px #fcee09;
  --shadow-glow-15: 0 0 15px #fcee09;
  --shadow-glow-20: 0 0 20px #fcee09;

  /* App */
  --breakpoint-xs: 450px;
  --breakpoint-xxs: 380px;

  --grid-cols-custom: repeat(auto-fill, minmax(198px, 1fr));
  --auto-cols-custom: minmax(198px, 1fr);
  --xs-grid-cols-custom: repeat(auto-fill, minmax(164px, 164px));
  --lg-grid-cols-custom: repeat(auto-fill, minmax(198px, 198px));

  --color-login: rgba(28, 27, 31, 0.9);
  --color-dashboard: rgb(36, 41, 46);
  --color-navbar: rgba(56, 63, 69, 0.6);
  --color-navbar-hover: rgba(56, 63, 69, 0.4);
  --color-navbar-option: rgba(36, 41, 46, 0.4);
  --color-inactive: rgb(242, 72, 34);
  --color-active: rgb(110, 197, 49);
  --color-ready: rgb(125, 193, 255);
  --color-selected: rgb(255, 173, 66);
  --color-custom-border: rgb(103, 110, 118);

  --font-titillium-web: Titillium Web;
  --color-custom-gray: rgb(158, 166, 172);

  --shadow-login:
    0px 6px 14px 0px rgba(7, 13, 13, 0.1),
    0px 25px 25px 0px rgba(7, 13, 13, 0.09),
    0px 57px 34px 0px rgba(7, 13, 13, 0.05),
    0px 101px 40px 0px rgba(7, 13, 13, 0.01),
    0px 158px 44px 0px rgba(7, 13, 13, 0);

  --animate-bounce-y: bounce-y 1.5s infinite;

  @keyframes bounce-y {
    0% {
      transform: translateY(0);
      opacity: 1;
    }
    50% {
      transform: translateY(24px);
      opacity: 0.5;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
}

.group.active .tooltip {
  opacity: 1;
  transform: scale(1);
}

.vertical-timeline::before {
  background: #fcee09;
  box-shadow: 0 0 8px #fcee09;
}
